@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

:root{
    --white: #ffff;
    --brand-color: #e44c02;
    --primary-color: #E96A2C;
    --secondary-color: #ED8856;
    --accent-color: #F2A681;
    --backgroud-image: #f1ce8e;
    --black: #000;
    --title-color: #D14602;
    --grey: #3e424b;
    --lightgrey: #808080;
    --lightgrey2: #dedede;

    --body-font: 'Quicksand', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    box-sizing: border-box;
    scroll-padding-top: 3rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
*::selection{
    color: var(--white);
    background: var(--accent-color);
}
section{
    padding: 50px 10px;
}
img{
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 5%;
    transition: 0.2s;
}

/* style detail product */
.nav-details{
    display: flex;
}
.nav-details a{
    padding: 11px 20px;
    color: var(--secondary-color);
    font-weight: 600;
}
.prod{
    /* width: 100%; */
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* background: var(--backgroud-image); */
    gap: 1rem;
    padding: 36px 10%;
}
.img-prod{
    flex: 1 1 0px;
    margin-top: 70px;
    position:relative;
}
.images{
    display: flex;
    aspect-ratio: 1/1;
    box-shadow: 0 1.5rem 3rem 0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 5px;
    margin-bottom: 12px;
}
.images img{
    display: block;
}
.img-prod .price-star span{
    font-size: 28px;
    color: var(--primary-color);
}
.img-prod .price-star span i{
    font-size: 18px;
}
.hover-prod{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    border-radius: 5px;
    aspect-ratio: 1/1;
    font-size: 65px;
}
.hover-prod i{
    color: var(--white);
}
.hover-prod:hover{
    opacity: 1;
}
.text-prod{
    flex: 1 1 10rem;
    margin-top: 70px;
}
.text-prod h1{
    text-align: center;
    font-size: 23px;
}
.desc{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    /* padding: 15px 10%; */
    color: var(--grey);
    margin-top: 10px;
}
.about-prod,.useful,.storage{
    flex: 1 1 auto;
    background-color: var(--white);
    box-shadow: 0px 0rem 4rem 0rem hsla(0, 0%, 0%, 0.1);
    border-radius: 15px;
    padding: 10px;
}