@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    box-sizing: border-box;
    scroll-padding-top: 3rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --blue: #00b4d8;
    --white: #ffffff;
    --gray: #262626;
    --blue2: #023e8a;
    --blue3: #e3f7fc;
    --hover-color: #0077b6;

    --body-font: 'Quicksand', sans-serif;
}

body {
    background-color: #f3f8fc;
    color: var(--gray);
}

.home {
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 20px;
}

.navigation {
    background: var(--blue);
    width: 15%;
    height: 100%;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.3s;
    border-radius: 15px;
    padding: 20px 10px;
}

.navigation ul {
    padding: 0;
}

.navigation ul li {
    list-style: none;
    transition: background-color 0.3s, padding-left 0.3s;
}

.nav {
    color: var(--white);
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    transition: background 0.3s ease;
    gap: 30px;
}

.nav:hover {
    background-color: var(--hover-color);
}

.nav-edit {
    color: var(--white);
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    transition: background 0.3s ease;
    gap: 30px;
}

.nav-edit:hover {
    background-color: var(--hover-color);
}

.icon, .icon-edit {
    font-size: 20px;
}

.title, .title-edit {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px 0;
}

.logo img {
    width: 90%;
}

.chevron-toggle-nav.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.chevron-toggle-nav-edit.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.list ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 60px;
    margin-top: 10px;
}

.list ul a {
    color: var(--white);
}

.list ul a:hover {
    text-decoration: underline;
}

.list-edit ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 60px;
    margin-top: 10px;
}

.list-edit ul a {
    color: var(--white);
}

.list-edit ul a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    gap: 1.5rem;
    width: 85%;
    flex-direction: column;
}

.title-page {
    display: flex;
    justify-content: space-between;
}

.admin {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.icon-admin {
    width: 30px;
    height: 30px;
    background-color: var(--blue3);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
}

.icon-admin i {
    font-size: 20px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--blue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: none;
    z-index: 1000;
    min-width: 100px;
    border-radius: 15px;
}

.dropdown-menu a {
    color: var(--white);
}

.chevron-toggle.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card-single {
    background-color: var(--white);
    flex: 1 1 250px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: fit-content;
}

.card-single:hover {
    transform: translateY(-10px) scale(1.02);
}

.card-single span {
    font-size: 35px;
    color: var(--blue2);
}

.add-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue2);
    color: white;
    padding: 12px 16px;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.add-float:hover {
    background-color: var(--hover-color);
}

.add-float i {
    margin-right: 8px;
    font-size: 20px;
}

.add-float span {
    display: inline-block;
    margin-left: 8px;
}


th {
    background: var(--blue3);
    color: var(--gray);
    padding: 12px;
    text-align: left;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 700;
}

.table-container {
    overflow-x: auto;
    margin-top: 20px;
    background: var(--white);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.table-container tr:hover {
    background-color: #f1f1f1;
}

.graphics {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.graphic {
    background-color: var(--white);
    border-radius: 20px;
    width: 100%;
    /* height: fit-content; */
    padding: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    /* flex: 1; */
}

.column {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}


.tabelHasil {
    margin: 20px 0;
}

.table-wrapper {
    max-height: 600px; /* Tentukan tinggi maksimal */
    overflow-y: auto; /* Scroll hanya pada tabel */
    border: 1px solid #ddd;
    border-radius: 8px;
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrapper th, .table-wrapper td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-wrapper th {
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
}

.table-wrapper tr:nth-child(even) {
    background-color: var(--blue3);
}

/* Gaya untuk ikon aksi edit dan hapus */
.icon-action {
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 18px;
    color: #555;
    text-align: center;
}

/* Warna default untuk ikon edit dan hapus */
.icon-action i {
    color: #555;
}

/* Hover efek untuk ikon edit */
.icon-action:hover {
    transform: scale(1.1);
}

/* Warna khusus untuk ikon edit */
.icon-action i.fa-pen-to-square {
    color: var(--hover-color); /* Biru untuk edit */
}

/* Warna khusus untuk ikon hapus */
.icon-action i.fa-trash {
    color: #e74c3c; /* Merah untuk hapus */
}

/* Efek hover spesifik pada warna ikon */
.icon-action:hover i.fa-pen-to-square {
    color: var(--blue2);
}

.icon-action:hover i.fa-trash {
    color: #c0392b;
}

.icon-action.disabled i{
    color: #959595;  
    cursor: not-allowed;
    opacity: 0.8;
}
.icon-action.disabled i:hover {
    color: #959595;
}

/* Gaya dasar untuk form */
form {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    padding-bottom: 10px;
}

table {
    width: 100%;
}

td {
    padding: 8px 0;
    vertical-align: middle;
}

td:first-child {
    font-weight: 600;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #3498db;
    outline: none;
}

input[type="datetime"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s;
}

input[type="datetime"]:focus {
    border-color: #3498db;
    outline: none;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s;
}

select {
    border-color: #3498db;
    outline: none;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}




