@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Nunito;
}
:root{
    --blue: #00b4d8;
    --white: #fff;
    --gray: #262626;
    --blue2: #023e8a;
    --blue3: #e3f7fc;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: url(background_admin.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    min-height: 100vh;        
    text-align: center; 
}
.form-box{
    width: 400px;
    height: 400px;
    position: relative;
    background: var(--white);
    padding: 5px;
    border-color: var(--blue);
    border-style:solid;
    border-radius: 20px;
    overflow: hidden;
}
h2{
    margin: 10px;
    text-align: center;
    color: var(--green2);
    text-shadow: 2px 0px 10px var(--blue);
}
.button-box{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.button-box::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;            /* tepat di tengah */
    width: 2px;           /* tebal garis */
    background: var(--blue);
    transform: translateX(-50%);
}
.toggle-btn{
    flex: 1;
    padding: 12px;
    background: var(--white);
    border: 2px solid var(--blue);
    font-size: 15px;
    font-weight: bold;
    color: var(--blue2);
    cursor: pointer;
    transition: 0.3s;
}
.toggle-btn:first-child {
    border-left: 2px solid var(--blue); 
    border-radius: 15px 0 0 0; 
}

.toggle-btn:last-child {
    border-radius: 0 10px 0 0; 
}
.toggle-btn:hover {
    background: var(--blue3);
}

.toggle-btn.active {
    background: var(--blue) !important;
    color: var(--white) !important;
}
.input-group{
    top: 90px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.kolom{
    width: 100%;
    padding: 10px 0;
    margin: auto;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1;
    font-size: 12pt;
}
.submit{
    width: 50%;
    padding: 10px 30px;
    display: block;
    margin: 30px 69px;
    background: var(--blue);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
a{
    text-decoration: none;
    font-size: 9pt;
}
#masuk{
    left: 50px;
}
#masuk span{
    position: absolute;
}
#daftar{
    left: 450px;
}
